.plan-selection-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .plan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 15px;

        .plan-container {
            position: relative;
            border-radius: 8px;
            padding: 10px 15px;
            outline: 1px solid #d9d9db;
            transition: 0.3s ease-in-out;

            &:hover {
                outline-color: #534c9a;
            }

            > input {
                position: absolute;
                inset: 0;
                z-index: 2;
                cursor: pointer;
            }

            &:has(input:checked) {
                outline-color: #534c9a;
                background-color: #f8f9fe;
            }

            .plan-description {
                display: flex;
                align-items: center;
                column-gap: 15px;
                font-size: 0.9rem;

                > svg {
                    align-self: flex-start;
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    > label {
                        color: #001e45;
                        font-weight: var(--medium-font);
                        font-size: 1.01rem;
                    }

                    > h2 {
                        color: #ababb7;
                        font-weight: var(--medium-font);
                    }

                    > h3 {
                        color: #001e45;
                    }
                }
            }
        }
    }

    .timing {
        margin-top: 25px;
        background-color: #f8f9fe;
        border-radius: 10px;
        position: relative;

        > input {
            position: absolute;
            inset: 0;
            z-index: 2;

            &:hover {
                cursor: pointer;
            }
        }

        .input-description {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            margin-left: 10%;
            padding-block: 12px;
            position: relative;
            z-index: 1;

            .label {
                font-size: 0.9rem;
                font-weight: var(--medium-font);
                color: #aaaab2;
                transition: 0.2s ease-in-out;

                &.selected {
                    color: #001e45;
                }
            }

            .switch-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: #042955;
                border-radius: 20px;
                width: 45px;
                height: 20px;
                padding-inline: 5px;

                .switch {
                    width: 13px;
                    height: 13px;
                    background-color: #fff;
                    border-radius: 50%;
                    transition: 0.2s ease-in-out;
                }

                &:not(.monthly) .switch {
                    transform: translateX(22px);
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .container {
        display: grid;
        place-items: center;
        height: 100dvh;
        background-color: #edf4fe;

        .inner-container {
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            position: relative;
            background-color: #fff;
            padding: 15px;
        }
    }
}
