.form-container {
    width: 95dvw;
    margin-inline: auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
}

@media screen and (min-width: 1000px) {
    .form-container {
        width: 600px;
        padding: 25px;
        border-radius: 15px;
    }
}
