<div class="step-information">
    @for (step of STEPS; track $index) {
        <div class="container">
            <div class="step" [class.selected]="step === currentStep">
                <span>{{ step }}</span>
            </div>
            <div class="step-description">
                <span class="step-name">{{
                    stepDescription[step]?.name | uppercase
                }}</span>
                <span class="description">{{
                    stepDescription[step]?.description
                }}</span>
            </div>
        </div>
    }
</div>
