<div>
    <h1>Routing test</h1>
    <nav>
        <li>
            <a
                [routerLink]="['second']"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Go to second</a
            >
        </li>
        <li>
            <a
                [routerLink]="['first']"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >Go to first</a
            >
        </li>
    </nav>
    <router-outlet></router-outlet>
</div>
