form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dbdae0;
    transition: 0.3s ease-in-out;
    position: relative;

    &:hover {
        background-color: #f8f9fe;
    }

    > input {
        inset: 0;
        position: absolute;

        &:hover {
            cursor: pointer;
        }
    }

    .input-checkbox-image {
        width: 20px;
        height: 20px;
        border: 1px solid #dbdae0;
        border-radius: 4px;
        transition: 0.3s ease-in-out;
    }

    .checkbox-description {
        > label {
            font-weight: var(--medium-font);
            color: #03295a;
        }
        > h3 {
            color: #acacb4;
        }
    }

    .addon-price {
        margin-left: auto;
        color: #a5a4dd;
        font-weight: var(--medium-font);
        font-size: 0.9rem;
    }

    &:has(input:checked) {
        border-color: #483bdd;
        background-color: #f8f9fe;

        .input-checkbox-image {
            background-color: #483bdd;
            border-color: #483bdd;
            background-image: url('/assets/images/icon-checkmark.svg');
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

@media screen and (min-width: 1000px) {
    .container {
        display: grid;
        place-items: center;
        height: 100dvh;
        background-color: #edf4fe;

        .inner-container {
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            position: relative;
            background-color: #fff;
            padding: 15px;
        }
    }
}