.personal-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .control-container {
        display: flex;
        flex-direction: column;

        > label {
            color: #3b5065;
            font-size: 0.8rem;
            font-weight: var(--medium-font);
        }

        > input {
            border: 1px solid #97969c;
            border-radius: 5px;
            padding: 8px 15px;
        }

      > input:has(+ span.error) {
        border-color: red;
      }
    }
}
