.personal-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .control-container {
        display: flex;
        flex-direction: column;

        .input-description {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > label {
                color: #3b5065;
                font-size: 0.8rem;
                font-weight: var(--medium-font);
            }

            .error {
                font-size: 0.8rem;
                font-weight: var(--medium-font);
                color: red;
            }
        }

        > input {
            border: 1px solid #97969c;
            border-radius: 5px;
            padding: 8px 15px;

            &:hover {
                border-color: #918dbc;
                cursor: pointer;
            }

            &.valid {
                border-color: green;
            }
        }

        .input-description:has(.error) + input {
            border-color: red;
        }
    }
}

@media screen and (min-width: 1000px) {
    .container {
        display: grid;
        place-items: center;
        height: 100dvh;
        background-color: #edf4fe;

        .inner-container {
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            background-color: #fff;
            padding: 15px;
            position: relative;
        }
    }
}
